{
    "plugins": [
        "mocha",
        "react"
    ],
    "extends": [
        "rcoy-v/rules/es5",
        "rcoy-v/rules/es6",
        "rcoy-v/rules/mocha",
        "rcoy-v/rules/react"
    ],
    "env": {
        "node": true,
        "browser": true,
        "mocha": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    }
}
